<h3>Event #<%= event.id %></h3>
<div>
  <strong>Date:</strong>
  <%= event.date %>
</div>
<div>
  <strong>Location:</strong>
  <%= event.location %>
</div>
<% unless event.creator_id.nil? %>
  <div>
    <strong>Created by:</strong>
    <%= User.find(event.creator_id).email %>
    <%= link_to 'see all events by them', user_path(event.creator_id) %>
  </div>
<% end %>

<span>-------------------------------</span>
